PRODUCT_BUNDLE_IDENTIFIER = com.freeteaspoon.mytgs
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = -
ENABLE_HARDENED_RUNTIME = NO

MYTGS_SPARKLE_FEED_URL = https:/$()/freeteaspoon.github.io/MYTGS-MAC/appcast.xml
MYTGS_SPARKLE_PUBLIC_ED_KEY =
INFOPLIST_KEY_SUFeedURL = $(MYTGS_SPARKLE_FEED_URL)
INFOPLIST_KEY_SUPublicEDKey = $(MYTGS_SPARKLE_PUBLIC_ED_KEY)
